django
djangorestframework
django-cors-headers
ollama
pdfplumber
unstructured[pdf]
sentence-transformers
FlagEmbedding
psycopg2-binary
scikit-learn
rank_bm25
numpy
langdetect
httpx
python-dotenv
redis
celery
django-celery-results
django-celery-beat
boto3
django-storages
langchain-text-splitters
langgraph
langchain
langchain-community
langchain-ollama
langchain-postgres
ragas
rouge-score
bert-score
channels
channels-redis
daphne
torch
transformers
pydantic
reportlab
FlagEmbedding
unstructured
unstructured[pdf]
ragas
scikit-learn
nltk
channels
djangochannelsrestframework
chromadb
rapidfuzz
cryptography
google-genai
openai
pytesseract
pillow
